@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-family-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$header-font-family: 'Raleway', 'Georgia', 'Times New Roman', serif;

$global-weight-normal: normal;
$global-weight-bold: bold;
$global-weight-light: 300;
$global-weight-black: 900;

/*$hr-width: 25%;*/

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 0.10rem;
	font-weight: $global-weight-black;
}

h4 small, h5, h6 {
	font-family: $body-font-family-condensed, sans-serif;
}

h5, h6 {
	font-family: $header-font-family;
	font-weight: $global-weight-black;
}

.quotation:before {
	margin-left: 1rem;
}

p.lead {
	text-transform: uppercase;
}

blockquote {
	margin-top: 1rem;
	background-color: $white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	font-weight: $global-weight-normal;
	border-left: 10px solid $primary-color;
	padding: 1.3rem;
}

cite em {
	font-style: normal;
}

ul {
	margin-left: 0;
}

body {
	font-weight: $global-weight-light;
}

.copyright {
	font-family: $body-font-family-condensed;
	text-transform: uppercase;
}

.nav-bar {
	.fa-bars {
		color: $primary-color;
	}
	.title-bar-title {
		color: $black;
		font-weight: $global-weight-bold;
		font-family: $header-font-family;
		text-transform: uppercase;
	}

}

.title-bar-title {
	font-family: $header-font-family;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1.5rem;
	display: inline;
	h4 {
		font-weight: $global-weight-bold;
	}
}

.landingpage {
	h1 {
		font-size: 2.5rem;
		font-weight: $global-weight-black;
		color: $white;
	}

	h2, h3, h4, h5, h6 {
		color: $white;
	}

	p {
		/*font-size: 1.4rem;*/
		color: $white;
		font-weight: $global-weight-light;
		text-align: left;
	}

	.button {
		font-family: $body-font-family-condensed;
		font-weight: $global-weight-normal;
		text-transform: uppercase;
		// font-size: 1rem;
	}
}

.content-card {
	.header-block {
		h1, h2, h3 {
			line-height: 1.0;
			font-weight: 900;
		}
		h4, h5, h6 {
			font-family: $body-font-family-condensed;
			font-weight: $global-weight-normal;
		}
	}

	ul {
		li {
			margin-bottom: 1rem;
			line-height: 1.15rem;
			list-style-type: none;
		}
	}
	.header-block, ul {
		margin-left: 0;
	}

	.thumb-label {
		text-align: left;
		color: $primary-color;
		display:none;
	}
}

.footer, .off-canvas {
	.vertical.menu {
		li {
			a {
				text-transform: uppercase;
				font-size: 1.5rem;
			}
		}
	}
}

.footer {
	.vertical.menu {
		li {
			border-bottom: 1px solid $white;
		}
		li:last-child {
			border: none;
		}
	}
}

.off-canvas {
	.vertical.menu {
		li {
			border-bottom: 1px solid $header-color;
			a {
				color: $white;
			}
		}
	}
}